.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 28px 20px;
  background-color: #111827;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: width 0.3s ease;
}

.collapsed {
  width: 80px;
  padding: 28px 10px;
}

/* Top bar */
.topBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Logo */
.logo {
  font-size: 26px;
  font-weight: 700;
}

/* Hamburger */
.hamburger {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: white;

}

/* Nav */
.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.sidebarNav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.collapsed .sidebarNav a {
  text-align: center;
  font-size: 20px;
}

/* Logout */
.logoutForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Main */
.main {
  flex: 1;
  padding: 32px;
}